<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
	</head>
	<body>
			<form id="ff" method="post" enctype="multipart/form-data">
			<input type="hidden" id="acountListSize" value="$!{acountListSize}" />
			<input type="hidden" id="kunnrSalesAreaListSize" value="$!{kunnrSalesAreaListSize}" />
			<input type="hidden" id="bCustomerTargetListSize" value="$!{bCustomerTargetListSize}" />
			<input type="hidden" id="addressListSize" value="$!{addressListSize}" />
			<div class="easyui-panel" title="基本资料" data-options="collapsible:true,iconCls:'icon-list'" style="padding: 2px; background: #fafafa;">
			<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr>
				<td class="head" noWrap>客户注册名称:</td>
				<td><input class="easyui-validatebox" id="name1" name="kunnr.name1" value='$!{kunnr.name1}' data-options="required:true" readonly ></td>
				<!--td class="head" noWrap>客户简称:</td>
				<td><input class="easyui-validatebox"id="name2" name="kunnr.name2" value='$!{kunnr.name2}'></td-->
				<td class="head" noWrap>客户SAP代码:</td>
				<td><input class="easyui-validatebox" style="BACKGROUND-COLOR:pink" id="kunnr" name="kunnr.kunnr" value='$!{kunnr.kunnr}' readonly ></td>
				<td class="head" noWrap>所属组织:</td>
				<td>
					<input class="easyui-validatebox" id="orgName" name="kunnr.orgName" value="$!{kunnr.orgName}" data-options="required:true" readonly/>
					<input type='hidden' id="orgId" name="kunnr.orgId"/>
					##<a class="easyui-linkbutton" href="javascript:selectOrgTree()">选择</a>
				</td>
				<td class="head" noWrap>经营品牌:</td>
		           <td> <input id="brands" name="kunnr.brands" type="text" value="$!{kunnr.brands}"  style="width:155px;">
						</input>
					<td>
			</tr>
			<tr>
				
				<td class="head" noWrap>打码号:</td>
				<td><input class="easyui-validatebox" style="BACKGROUND-COLOR:pink" id="locco" name="kunnr.locco" value='$!{kunnr.locco}' readonly ></td>
				<td class="head" noWrap>客户分类:</td>
				<td><input class="easyui-validatebox" id="channelId" name="kunnr.channelId" value='$!{kunnr.channelId}' data-options="required:true,editable:false"></td>	
				<td class="head" noWrap>上级经销商:</td>
				<td><input class="easyui-validatebox" id="konzsTxt" name="kunnr.konzsTxt" value='$!{kunnr.konzsTxt}' data-options="required:false,editable:false">
				<input type="hidden" class="easyui-validatebox" id="konzs" name="kunnr.konzs" value='$!{kunnr.konzs}' data-options="required:false,editable:false"></td>
				<td class="head" noWrap>主户经销商:</td>
				<td><input class="easyui-validatebox" id="kunagTxt" name="kunnr.kunagTxt" value='$!{kunnr.kunagTxt}' data-options="required:false,editable:false">
				<input type="hidden" class="easyui-validatebox" id="kunag" name="kunnr.kunag" value='$!{kunnr.kunag}' data-options="required:false,editable:false"></td>			
			</tr>
			<tr>
			    <td class="head" noWrap>法人代表:</td>
				<td>
					<input class="easyui-validatebox"  data-options="required:true,missingMessage:'姓名'" id="name3" name="kunnr.name3" value='$!{kunnr.name3}' readonly >
				</td>
				<td class="head" noWrap>性别年龄:</td>
				<td>
				<input class="easyui-combobox" data-options="required:true,editable:false,missingMessage:'性别'" style="width:70px;" id="sex" name="kunnr.sex" value='$!{kunnr.sex}'></input>  	
				<input class="easyui-numberbox" data-options="min:0,required:true,missingMessage:'年龄'"  style="width:70px" id="age" name="kunnr.age" value='$!{kunnr.age}' readonly >
				</td>
				<td class="head" noWrap>法人手机:</td>
				<td><input class="easyui-numberbox" id="mobNumber" name="kunnr.mobNumber" value='$!{kunnr.mobNumber}' data-options="required:true" readonly  ></td>
			     <td class="head" noWrap>企业性质:</td>
				 <td><input class="easyui-validatebox" id="natureEnterprise" name="kunnr.natureEnterprise" value="$!{kunnr.natureEnterprise}" data-options="required:true" value='$!{kunnr.natureEnterprise}' validType="length[0,100]"></td>
			</tr>
			<tr>
			    <td class="head" noWrap>食品流通许可证号:</td>
				<td><input class="easyui-validatebox" id="healthNumber" name="kunnr.healthNumber" value='$!{kunnr.healthNumber}'readonly ></td>
				<td class="head" noWrap>营业执照注册号:</td>
				<td><input class="easyui-validatebox" id="businessLicense" name="kunnr.businessLicense" value='$!{kunnr.businessLicense}'readonly ></td>
				<td class="head" noWrap>上次年审日期:</td>
				<td><input class="easyui-datebox" id="lastAnnual" name="kunnr.lastAnnual" value='$!dateUtil.datetime($!{kunnr.lastAnnual},'yyyy-MM-dd')' data-options="editable:false"></td>
				<td class="head" noWrap>经营年限:</td>
				<td><input class="easyui-numberbox" id="businessLife" name="kunnr.businessLife" value="$!{kunnr.businessLife}" readonly ></td>
			</tr>
			<tr>
				<td class="head" noWrap>公司联系电话:</td>
				<td><input class="easyui-validatebox" id="telNumber" name="kunnr.telNumber" value='$!{kunnr.telNumber}'data-options="required:true" readonly ></td>
				<td class="head" noWrap>传真:</td>
				<td><input class="easyui-validatebox" id="faxNumber" name="kunnr.faxNumber" value="$!{kunnr.faxNumber}" readonly ></td>
				<td class="head" noWrap>邮编:</td>
				<td><input class="easyui-validatebox" id="zip" name="kunnr.zip" value="$!{kunnr.zip}" readonly ></td>
			    <td class="head" noWrap>仓库面积:</td>
				<td><input class="easyui-validatebox" id="warehouseArea" name="kunnr.warehouseArea" value="$!{kunnr.warehouseArea}" data-options="required:true" value='$!{kunnr.warehouseArea}' validType="length[0,30]"></td>
			
			</tr>
			<tr>
				<td class="head" noWrap>办公地所在省</td>
				<td>
					<input type="hidden"  id="region">
					<input class="easyui-combobox"  id="region1" name="kunnr.province" value="$!{kunnr.province}" readonly data-options="required:false,editable:false">
				</td>
				<td class="head" noWrap>所在城市:</td>	
				<td><input class="easyui-combobox"  id="region2" name="kunnr.city"  value="$!{kunnr.city}" readonly data-options="required:false,editable:false"></td>
				<td class="head" noWrap>所在区:</td>	
				<td><input class="easyui-combobox"  id="region3" name="kunnr.area" value="$!{kunnr.area}" readonly data-options="required:false,editable:false"></td>
				<td class="head" noWrap>所在镇、乡:</td>	
				<td><input class="easyui-combobox"  id="region4" name="kunnr.town" value="$!{kunnr.town}" readonly data-options="required:false,editable:false"></td>
			</tr>
			<tr>
				<td class="head" noWrap>具体参考位置:</td>	
				<td colspan="5">
				<input class="easyui-validatebox" id="street1" name="kunnr.street1"  readonly  value='$!{kunnr.street1}' style="width:59%" value='$!{kunnr.street1}' data-options="required:true">
				</td>
			</tr>
		#*	<tr>
        		<td class="head" noWrap>品项:</td>
        		<td colspan="5">
					<input class="easyui-combogrid" style="width:600px" id="categories" name="kunnrBusiness.categories" data-options="editable:false">
					<input type="hidden"  id="categoriesHide" value="$!{kunnrBusiness.categories}">
				</td>
			</tr>*#
			
            <tr>
				<td class="head" noWrap>开始合作时间:</td>
				<td><input class="easyui-datebox" id="cooperationStart" name="kunnr.cooperationStart" value="$!dateUtil.datetime($!{kunnr.cooperationStart},'yyyy-MM-dd')" data-options="editable:false"></td>
				#if($!{kunnr.status}=="2")
				<td class="head" noWrap>关户时间:</td>
				<td><input class="easyui-datebox" id="cooperationEnd" name="kunnr.cooperationEnd" value="$!dateUtil.datetime($!{kunnr.cooperationEnd},'yyyy-MM-dd')" data-options="editable:false"></td>
				#end	
			</tr>
		    </table>
            </div>
           <div class="easyui-panel" title="财务信息" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">
           <table width="100%" border="0" cellpadding="0" cellspacing="1">
            <tr>
				<td class="head" noWrap>开户银行:</td>
				<td><input class="easyui-validatebox" id="bank" name="kunnr.bank" value='$!{kunnr.bank}'readonly ></td>
				<td class="head" noWrap>银行账户:</td>
				<td><input class="easyui-validatebox" id="bankAccount" name="kunnr.bankAccount" value='$!{kunnr.bankAccount}'readonly ></td>
				<td class="head" noWrap>纳税人类型:</td>
				<td><input class="easyui-validatebox" id="kverm" name="kunnr.kverm" value='$!{kunnr.kverm}' readonly ></td>
				<td class="head" noWrap>税务登记证号:</td>
				<td><input class="easyui-validatebox" id="stceg" name="kunnr.stceg" value='$!{kunnr.stceg}'readonly ></td>
			</tr>
			<tr>
		        <td class="head" noWrap>开票电话:</td>
				<td><input class="easyui-validatebox" id="kpPhone" name="kunnr.kpPhone" value='$!{kunnr.kpPhone}'data-options="required:true" readonly ></td>
				<td class="head" noWrap>发票收件人:</td>
				<td><input class="easyui-validatebox" id="fpRecipient" name="kunnr.fpRecipient" value='$!{kunnr.fpRecipient}'data-options="required:true"  validType="length[0,30]"></td>
				<td class="head" noWrap>发票联系电话:</td>
				<td><input class="easyui-validatebox" id="fpContactPhone" name="kunnr.fpContactPhone" value='$!{kunnr.fpContactPhone}'data-options="required:true"  validType="telephone"></td>
			</tr>
			<tr>
			<td class="head" noWrap>注册地址:</td>
				<td colspan="3"><input class="easyui-validatebox" id="zcAddress" name="kunnr.zcAddress" value='$!{kunnr.zcAddress}'  style="width:90%" data-options="required:true" validType="length[0,100]"></td>
					<td class="head" noWrap>发票寄送地址:</td>
				<td colspan="3"><input class="easyui-validatebox" id="fpAddress" name="kunnr.fpAddress" value='$!{kunnr.fpAddress}'  style="width:90%"  data-options="required:true"  validType="length[0,100]"></td>
			</tr>
			<tr height="2px"></tr>
            </table>
            </div>
            
			</br>
			<!--<div class="easyui-panel" title="详细资料" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">
			<div class="easyui-tabs"  style="padding: 2px; background: #fafafa;height:250px">
			</div>  
			</div>-->
			<div class="easyui-panel" title="目标量" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">
			<!--<div title="目标量" style="overflow:auto;padding:5px;">-->  
			#if($bCustomerTargetListSize!=0)
			<table id="goalTable">  
					<a  class="easyui-linkbutton"  data-options="plain:true,iconCls:'icon-excel'" onclick=javascript:exportGoals();> 目标量信息导出</a>
		    </table> 
			#else
			 <a class="head" noWrap><font color='green'>没有目标量信息!</font></a>
			#end
			#*	<table id="goalTable" width="100%" border="0" cellpadding="0" cellspacing="1">
				#if($bCustomerTargetListSize!=0)
				#foreach($bCustomerTarget in $bCustomerTargetList)
							#set($velocityCount=$velocityCount+1)
				<tr id="goalTr_$goalCount">
				       <td class="head" noWrap>年份</td>
        		       <td>
        			       <input class="easyui-validatebox" id="year_$velocityCount" style="width:60px" name="bCustomerTarget.theYear" value="$!{bCustomerTarget.theYear}年" readonly>
        		       <font class="head">/&nbsp;月份 <input class="easyui-validatebox" id="month_$velocityCount" style="width:60px" name="bCustomerTarget.theMonth" value="$!{bCustomerTarget.theMonth}月">
        		       </td>
        		        <td class="head" noWrap>对应物料</td>
        		       <td>
        			       <input type="easyui-cmobogrid" id="wid_$velocityCount" name="bCustomerTarget.matter" value="$!{bCustomerTarget.matter}">
        			      <div id="toolbar_$velocityCount" class="datagrid-toolbar" >
		                   <input id="search_$velocityCount" class="easyui-searchbox" style="width:300px"></input>		
		                  </div>
        		       </td>
        		       
        		       <td class="head" noWrap>目标箱数(标箱)</td>
        		       <td>
        			       <input class="easyui-numberbox" style="width:60px" id="box_$velocityCount" name="bCustomerTarget.box" value="$!{bCustomerTarget.box}"  precision="2" min="0" fix="">
        		       </td>
        		        <td class="head" noWrap>目标金额(元)</td>
        		       <td>
        			       <input class="easyui-numberbox" id="targetNum_$velocityCount" name="bCustomerTarget.targetNum" value="$!{bCustomerTarget.targetNum}"  precision="2" min="0" fix="">
        		       </td>
        		 </tr>
        		 #end
        		 #else
                        <a class="head" noWrap><font color='green'>没有目标量信息!</font></a>
                 #end
        		 </table>*#
				</div>
				<div class="easyui-panel" title="业务联系" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">   
					<table width="100%" border="0" cellpadding="0" cellspacing="1">
						<tr>
        				<td class="head" noWrap>&nbsp;&nbsp;&nbsp;&nbsp;城市经理:</td>
        				<td><input class="easyui-validatebox" id="businessManager" name="kunnrBusiness.businessManager" value="$!{kunnrBusiness.businessManager}" readonly ></td>
        				<td class="head" noWrap>城市经理手机:</td>
        				<td><input class="easyui-validatebox" id="managerMobile" name="kunnrBusiness.managerMobile" value="$!{kunnrBusiness.managerMobile}" readonly></td>
        				</tr>
						<tr style="height:10px">
						</tr>
						<tr>
						<td class="head" noWrap>&nbsp;&nbsp;&nbsp;&nbsp;客户经理:</td>
        				<td><input class="easyui-validatebox" id="businessCompetent" name="kunnrBusiness.businessCompetent" value="$!{kunnrBusiness.businessCompetent}" readonly></td>
        				<td class="head" noWrap>客户经理手机:</td>
        				<td><input class="easyui-validatebox" id="competentMobile" name="kunnrBusiness.competentMobile" value="$!{kunnrBusiness.competentMobile}" readonly></td>
						</tr>
						<tr style="height:10px">
						</tr>
						<tr>
						<td class="head" noWrap>&nbsp;&nbsp;&nbsp;&nbsp;经销商业务负责人:</td>
        				<td><input class="easyui-validatebox" id="kunnrLeader" name="kunnrBusiness.kunnrLeader"  validType="length[0,6]" value="$!{kunnrBusiness.kunnrLeader}"></td>
        				<td class="head" noWrap>负责人手机:</td>
        				<td><input class="easyui-numberbox" id="kunnrPhone" name="kunnrBusiness.kunnrPhone" value="$!{kunnrBusiness.kunnrPhone}" validType="length[11,11]"></td>
						</tr>
		    		</table>
				</div>
				<div class="easyui-panel" title="产品收货" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">   
					<table id="addressTable" width="100%" border="0" cellpadding="0" cellspacing="1">
						<tr>
        				<td class="head" noWrap>(收货仓库)=>&nbsp;&nbsp;详细地址:</td>
        				<td><input class="easyui-validatebox" value="$!{kunnr.shXzAddress}$!{kunnr.street}" readonly style="width:500px"></td>
        				<td class="head" noWrap>&nbsp;&nbsp;&nbsp;&nbsp;收货人:
        				<input class="easyui-validatebox"  value="$!{kunnr.name102}" style="width:80px" readonly >
        				<font class="head" noWrap>收货联系电话:
        				<input class="easyui-validatebox" value="$!{kunnr.name102tel}" style="width:80px" readonly></font></td>
        				<td class="head" noWrap>收货联系手机:</td>
        				<td><input class="easyui-validatebox"  value="$!{kunnr.name102mob}" style="width:80px" readonly></td>
					    <td class="head" noWrap>最大可通行车型:</td>
        				<td><input class="easyui-combobox" id="maximum02" name="kunnr.maximum" value="$!{kunnr.maximum}" style="width:80px" validType="length[0,20]"></td>
					    </tr>
					    #if($addressListSize!=0)
						#foreach($address in $kunnrAddressList)
						#set($velocityCount=$velocityCount+1)
						#if('U'==$!{address.state})
						<tr>
        				<td class="head" noWrap>(送达方)=>&nbsp;&nbsp;详细地址:</td>
        				<td><input class="easyui-validatebox" value="$!{address.xzAddress}$!{address.address}" readonly style="width:500px"></td>
        				<td class="head" noWrap>&nbsp;&nbsp;&nbsp;&nbsp;收货人:
        				<input class="easyui-validatebox"  value="$!{address.name}" style="width:80px" readonly>
        				<font class="head" noWrap>收货联系电话:
        				<input class="easyui-validatebox" value="$!{address.telephone}" style="width:80px" readonly></font></td>
        				<td class="head" noWrap>收货联系手机:</td>
        				<td><input class="easyui-validatebox"  value="$!{address.mobile}" style="width:80px" readonly></td>
        				<td class="head" noWrap>最大可通行车型:</td>
        				<td><input class="easyui-combobox" id="maximum_$velocityCount" name="address.maximum" value="$!{address.maximum}" style="width:80px" validType="length[0,20]"></td>
					   </tr>
					   #end
					   #end
					   #end
		    		</table>
				</div>  
				<!--div title="经营情况" style="overflow:auto;padding:5px;">  
					<table id="brandTable" width="100%" border="0" cellpadding="0" cellspacing="1">
						<tr>
        				<td class="head" noWrap>去年总营业额:</td>
        				<td><input class="easyui-validatebox" id="lastyearSales" name="kunnrBusiness.lastyearSales" readonly value="$!{kunnrBusiness.lastyearSales}">(万元)</td>
        				<td class="head" noWrap>今年预计营业额:</td>
        				<td><input class="easyui-validatebox" id="theyearSales" name="kunnrBusiness.theyearSales" readonly value="$!{kunnrBusiness.theyearSales}">(万元)</td>
        				<td class="head" noWrap>覆盖范围:</td>
        				<td><input class="easyui-validatebox" id="coverArea" name="kunnrBusiness.coverArea" readonly value="$!{kunnrBusiness.coverArea}"></td>
						</tr>
						#foreach($brand in $kunnrBrandList)
						<tr>
        				<td class="head" noWrap>品牌名称:</td>
        				<td><input class="easyui-validatebox" value="$!{brand.brand}" readonly></td>
        				<td class="head" noWrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销售额:</td>
        				<td colspan="3"><input class="easyui-validatebox" value="$!{brand.sales}" readonly>(万元)</td>
					   </tr>
					   #end
		    		</table>  
				</div>
				<div title="折扣说明" style="overflow:auto;padding:5px;">  
					<table id="salesAcountTable" width="100%" border="0" cellpadding="0" cellspacing="1">
						#if($acountListSize!=0)
						#foreach($acount in $kunnrAcountList)
							#set($velocityCount=$velocityCount+1)
						<tr>
						<td class="head" noWrap>&nbsp;物料回扣组:<input class="easyui-validatebox" value="$!{acount.bonus}" id="bonus_$velocityCount" data-options="editable:false">
						</td>	
						<td class="head" noWrap>月返(元):<input class="easyui-validatebox" value="$!{acount.typeA}" readonly  style="width:70px">
						季返(元):<input class="easyui-validatebox" readonly value="$!{acount.typeB}"  style="width:70px">
						年返(元):<input class="easyui-validatebox" readonly value="$!{acount.typeC}"  style="width:70px">
						协议价(元):<input class="easyui-validatebox"  readonly value="$!{acount.typeMoney}"  style="width:70px">
						</td>
						<td class="head" noWrap><div class="type2J"><label><font color='red'>二级返一级</font>#if($!{acount.flag}=='Y')<input type="checkbox" id="flag_$velocityCount" value="Y" checked>#else<input type="checkbox" id="flag_$velocityCount" value="Y" >#end</label>
						月返(元):<input class="easyui-validatebox"  readonly value="$!{acount.type2A}" style="width:70px">
						季返(元):<input class="easyui-validatebox"  readonly value="$!{acount.type2B}"  style="width:70px">
						年返(元):<input class="easyui-validatebox"  readonly value="$!{acount.type2C}"  style="width:70px">
						</div></td>	
						<td width="20%">
						&nbsp;
						</td>
						<td width="20%">
						&nbsp;
						</td>
						<td width="20%">
						&nbsp;
						</td>		
						</tr>
						<tr>
						<td class="head" noWrap>
						(SAP协议号)月返:<input class="easyui-validatebox" id="text0_$velocityCount" value="$!{acount.acountSapA}" data-options="editable:false">
					    </td>
					        <td noWrap> <font style="font-weight:bold;color:#006b8a">&nbsp;季返:<input class="easyui-validatebox" id="text01_$velocityCount" value="$!{acount.acountSapB}" validType="length[0,20]">
					     年返:<input class="easyui-validatebox" id="text02_$velocityCount" value="$!{acount.acountSapC}" validType="length[0,20]">
					     &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;开始生效日期:</font></td>
					    <td noWrap><font style="font-weight:bold;color:#006b8a">
						<input class="easyui-datebox" id="text1_$velocityCount" value="$!{acount.startDate}" data-options="editable:false" >
						有效截止日期:</font><input class="easyui-datebox" id="text2_$velocityCount" value="$!{acount.endDate}" data-options="editable:false">
						</td>
						</tr>
						#end
						#else
						<a class="head" noWrap><font color='green'>未填写物料回扣说明!</font></a>
						#end
		    		</table>  
				</div-->
				<div class="easyui-panel" title="销售视图" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;"> 
					<table id="brandTable" width="100%" border="0" cellpadding="0" cellspacing="1">
					   <tr>
			              <td class="head" noWrap>公司代码:</td>
				          <td><input class="easyui-combobox" id="bukrs" name="kunnr.bukrs" value='$!{kunnr.bukrs}' data-options="required:true,editable:false"></td>
				          <td class="head" noWrap>客户科目组:</td>
				          <td><input class="easyui-validatebox" id="ktokd" name="kunnr.ktokd" value='$!{kunnr.ktokd}' data-options="required:true" readonly ></td>	
			              <td class="head" noWrap>交货优先权:</td>
        				  <td><input class="easyui-combobox" id="lprio" name="kunnrBusiness.lprio" readonly  value="$!{kunnrBusiness.lprio}"></td>
			            </tr>
			            <tr>
						<td class="head" noWrap>销售大区:</td>
        				<td><input class="easyui-combobox" id="vkgrp" name="kunnrBusiness.vkgrp"  data-options="required:true,editable:false" value="$!{kunnrBusiness.vkgrp}"></td>
        				<td class="head" noWrap>销售省份:</td>
        				<td><input class="easyui-combogrid" id="bzirk" name="kunnrBusiness.bzirk" data-options="required:true,editable:false" value="$!{kunnrBusiness.bzirk}"></td>
        				<td class="head" noWrap>城市办:</td>
        				<td><input class="easyui-combobox" id="vkbur" name="kunnrBusiness.vkbur" data-options="required:true,editable:false" value="$!{kunnrBusiness.vkbur}"></td>
						</tr>
						<tr>
        				<td class="head" noWrap>付款方式:</td>
        				<td><input class="easyui-validatebox" id="zterm" name="kunnrBusiness.zterm" readonly data-options="required:true" value="$!{kunnrBusiness.zterm}"></td>
        				<td class="head" noWrap>货币:</td>
        				<td><input class="easyui-validatebox" id="waers" name="kunnrBusiness.waers" readonly data-options="required:true" value="$!{kunnrBusiness.waers}"></td>
        				<td class="head" noWrap>定价过程:</td>
        				<td><input class="easyui-validatebox" id="kalks" name="kunnrBusiness.kalks" readonly data-options="required:true" value="$!{kunnrBusiness.kalks}"></td>
						</tr>
						<tr>
        				<td class="head" noWrap>POD相关:</td>
        				<td><input class="easyui-validatebox" id="podkz" name="kunnrBusiness.podkz" readonly data-options="required:true" value="$!{kunnrBusiness.podkz}"></td>
        				<td class="head" noWrap>完全交货:</td>
        				<td><input class="easyui-validatebox" id="autlf" name="kunnrBusiness.autlf" readonly data-options="required:true" value="$!{kunnrBusiness.autlf}"></td>
						<td class="head" noWrap>每个项目的交货:</td>
        				<td><input class="easyui-validatebox" id="kztlf" name="kunnrBusiness.kztlf" readonly data-options="required:true" value="$!{kunnrBusiness.kztlf}"></td>
						</tr>
						<tr>
        				<td class="head" noWrap>最大部分交货:</td>
        				<td><input class="easyui-validatebox" id="antlf" name="kunnrBusiness.antlf" readonly data-options="required:true"  value="$!{kunnrBusiness.antlf}"></td>
        				<td class="head" noWrap>回扣相关:</td>
        				<td><input class="easyui-validatebox" id="bokre" name="kunnrBusiness.bokre" readonly data-options="required:true" value="$!{kunnrBusiness.bokre}"></td>
        				<td class="head" noWrap>账户分配组:</td>
        				<td><input class="easyui-validatebox" id="ktgrd" name="kunnrBusiness.ktgrd" readonly data-options="required:true" value="$!{kunnrBusiness.ktgrd}"></td>
						</tr>
						<tr>
        				<td class="head" noWrap>标题:</td>
        				<td><input class="easyui-validatebox" id="titleMedi" name="kunnrBusiness.titleMedi" readonly  data-options="required:true" value="$!{kunnrBusiness.titleMedi}"></td>
        				<td class="head" noWrap>国家:</td>
        				<td><input class="easyui-validatebox" id="country" name="kunnrBusiness.country" readonly data-options="required:true" value="$!{kunnrBusiness.country}"></td>
        				<td class="head" noWrap>语言:</td>
        				<td><input class="easyui-validatebox" id="langu" name="kunnrBusiness.langu" readonly data-options="required:true" value="$!{kunnrBusiness.langu}"></td>
						</tr>
					    <tr>
						<td class="head" noWrap>统驭科目:</td>
        				<td ><input class="easyui-validatebox" id="akont" name="kunnrBusiness.akont" readonly data-options="required:true" value="$!{kunnrBusiness.akont}"></td>
						<td class="head" noWrap>客戶统计组:</td>
        				<td><input class="easyui-validatebox" id="versg" name="kunnrBusiness.versg" readonly data-options="required:true" value="$!{kunnrBusiness.versg}"></td>
						<td class="head" noWrap>税分类:</td>
        				<td><input class="easyui-validatebox" id="taxkd01" name="kunnrBusiness.taxkd01" readonly data-options="required:true" value="$!{kunnrBusiness.taxkd01}"></td>
						</tr>
		    		</table>  
				</div>
				<div class="easyui-panel" title="销售范围" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">  
					<table id="brandTable" width="100%" border="0" cellpadding="0" cellspacing="1">
					    #if($kunnrSalesAreaListSize!=0)
			            #foreach($kunnrSalesArea in $kunnrSalesAreaList)
					    #set($velocityCount=$velocityCount+1)
						<tr id="saleAreaTr_$areaCount"> 
						 <td class="head" noWrap>销售组织:</td>
				         <td><input type="hidden" id="vkorg_$velocityCount" name="kunnrSalesArea.vkorg" value='$!{kunnrSalesArea.vkorg}' readonly ></input>
				         <input class="easyui-validatebox" id="vkorgTxt_$velocityCount" name="kunnrSalesArea.vkorgTxt" value='$!{kunnrSalesArea.vkorgTxt}' />
				         </td>
				         <td class="head" noWrap>分销渠道:</td>
				         <td>
					     <input type="hidden" class="easyui-validatebox" id="vtweg_$velocityCount" name="kunnrSalesArea.vtweg" value='$!{kunnrSalesArea.vtweg}'>
					       <input  class="easyui-validatebox" id="vtwegTxt_$velocityCount" name="kunnrSalesArea.vtwegTxt" value='$!{kunnrSalesArea.vtwegTxt}' readonly>
				        </td>
				         <td class="head" noWrap>产品组:</td>
				         <td>
					     <input type="hidden" class="easyui-validatebox" id="spart_$velocityCount" name="kunnrSalesArea.spart" value='$!{kunnrSalesArea.spart}'></input>
					      <input  class="easyui-validatebox" id="spartTxt_$velocityCount"  name="kunnrSalesArea.spartTxt" value='$!{kunnrSalesArea.spartTxt}' readonly></input>
				         </td>	
        				<td class="head" noWrap>发货工厂:</td>
        				<td><input class="easyui-combobox" id="werks_$velocityCount" name="kunnrSalesArea.werks" data-options="editable:false" value="$!{kunnrSalesArea.werks}"></td>
        				<td class="head" noWrap>装运条件:</td>
        				<td><input class="easyui-combobox" id="vsbed_$velocityCount" name="kunnrSalesArea.vsbed" value="$!{kunnrSalesArea.vsbed}" style="width:60px" validType="length[2,2]"></td>
						</tr>
						#end
						#else
                        <a class="head" noWrap><font color='green'>没有销售范围信息!</font></a>
						#end
						#*<tr>
						  <td class="head" noWrap>销售范围:</td>
				          <td><input ctype="text" id="vkorg" name="kunnr.vkorg" value='$!{kunnr.vkorg}' readonly ></input></td>
				          <td class="head" noWrap>产品组:</td>
				          <td>
					      <input  class="easyui-combobox" id="spart" name="kunnr.spart"  data-options="editable:false"></input>
					      <input type="hidden"  id="spartHide" value='$!{kunnr.spart}'>
				          </td>	
				          <td class="head" noWrap>分销渠道:</td>
				          <td>
					      <input  class="easyui-combobox" id="vtweg" name="kunnr.vtweg" data-options="editable:false">
					      <input type="hidden"  id="vtwegHide" value='$!{kunnr.vtweg}'>
				          </td>	
				          <td class="head" noWrap>发货工厂:</td>
        				  <td><input class="easyui-combobox" id="werks" name="kunnrBusiness.werks" value="$!{kunnrBusiness.werks}" data-options="editable:false"></td>
				          <td class="head" noWrap>装运条件:</td>
        				  <td><input class="easyui-validatebox" id="vsbed" name="kunnrBusiness.vsbed" readonly data-options="required:true" value="$!{kunnrBusiness.vsbed}"></td>
						</tr>*#
		    		</table>  
				</div>
				<div class="easyui-panel" title="评估报告、潜在客户附件" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">  
					<table  width="100%" border="0" cellpadding="0" cellspacing="1">
						<tr style="height:10px">
						</tr>
						#if($!{kunnrBusiness.accessFile}||$!{kunnrBusiness.explainFile}||$!{kunnrBusiness.customerFile})
						<tr>
        				<td class="head" noWrap>经销商开户评估表:</td>
        				<td>
						<a href="$!{appUrl}/kunnrAction!downLoadAttachments.jspa?attachmentsPath=$!{kunnrBusiness.accessFilePath}&attachmentsName=$!{kunnrBusiness.accessFile}">$!{kunnrBusiness.accessFile}</a>
						</td>
						<td style="width:50%"></td>
        				<td></td>
						</tr>
						<tr style="height:10px">
						</tr>
						<tr>
						
						<tr>
        				<td class="head" noWrap>经销商开户说明:</td>
        				<td>
						<a href="$!{appUrl}/kunnrAction!downLoadAttachments.jspa?attachmentsPath=$!{kunnrBusiness.explainFilePath}&attachmentsName=$!{kunnrBusiness.explainFile}">$!{kunnrBusiness.explainFile}</a>
						</td>
						<td style="width:50%"></td>
        				<td></td>
						</tr>
						<tr style="height:10px">
						</tr>
						
        				<td class="head" noWrap>意向新开经销商市场表现评估表:</td>
        				<td>
						<a href="$!{appUrl}/kunnrAction!downLoadAttachments.jspa?attachmentsPath=$!{kunnrBusiness.customerFilePath}&attachmentsName=$!{kunnrBusiness.customerFile}">$!{kunnrBusiness.customerFile}</a>
						</td>
						<td></td>
						</tr>
						#else
                        <a class="head" noWrap><font color='green'>未上传评估报告以及潜在客户附件!</font></a>
						#end
		    		</table> 
				</div>
				<div class="easyui-panel" title="证照列表" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">  
					<table  width="100%" border="0" cellpadding="0" cellspacing="1">
					#if($licenseListSize!=0)	
					#foreach($kunnrLicense in $kunnrLicenseList)
                	<tr>
                		<td class="head" noWrap>$!{kunnrLicense.licenseName}:</td>
                    	<td>
                		<a href="$!{kunnrLicense.licensePath}" target="_blank">$!{kunnrLicense.licenseFile}</a>
                		</td>
                		<td class="head" noWrap>证照有效期:</td>
                		<td><input class="easyui-datebox" name="licenseValid" value="$!dateUtil.datetime($!{kunnrLicense.licenseValid},'yyyy-MM-dd')" data-options="editable:false"/></td>
                	</tr>
					#end
					#else
                        <a class="head" noWrap><font color='green'>未上传证照附件!</font></a>
					#end
		    		</table> 
				</div>
				<div class="easyui-panel" title="整改通知书附件" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;"> 
					<table  width="100%" border="0" cellpadding="0" cellspacing="1">
						<tr style="height:10px">
						</tr>
						#if($!{kunnr.noticeFile1}||$!{kunnr.noticeFile2}||$!{kunnr.noticeFile3}||$!{kunnr.noticeFile3}||$!{kunnr.noticeFile4})
						<tr>
        				<td class="head" noWrap>附件1:</td>
        				<td>
						<a href="$!{appUrl}/kunnrAction!downLoadAttachments.jspa?attachmentsPath=$!{kunnr.noticeFilePath1}&attachmentsName=$!{kunnr.noticeFile1}">$!{kunnr.noticeFile1}</a>
						</td>
						<td style="width:50%"></td>
        				<td></td>
						</tr>
						<tr style="height:10px">
						</tr>
						<tr>
        				<td class="head" noWrap>附件2:</td>
        				<td>
						<a href="$!{appUrl}/kunnrAction!downLoadAttachments.jspa?attachmentsPath=$!{kunnr.noticeFilePath2}&attachmentsName=$!{kunnr.noticeFile2}">$!{kunnr.noticeFile2}</a>
						</td>
						<td></td>
						</tr>
						<tr style="height:10px">
						</tr>
						<tr>
        				<td class="head" noWrap>附件3:</td>
        				<td>
						<a href="$!{appUrl}/kunnrAction!downLoadAttachments.jspa?attachmentsPath=$!{kunnr.noticeFilePath3}&attachmentsName=$!{kunnr.noticeFile3}">$!{kunnr.noticeFile3}</a>
						</td>
						<td></td>
						</tr>
						<tr style="height:10px">
						</tr>
						<tr>
        				<td class="head" noWrap>附件4:</td>
        				<td>
						<a href="$!{appUrl}/kunnrAction!downLoadAttachments.jspa?attachmentsPath=$!{kunnr.noticeFilePath4}&attachmentsName=$!{kunnr.noticeFile4}">$!{kunnr.noticeFile4}</a>
						</td>
						<td></td>
						</tr>
						#else
                        <a class="head" noWrap><font color='green'>未上传整改通知书附件!</font></a>
						#end
		    		</table> 
				</div>
				<div class="easyui-panel" title="客户名称变更证明附件" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">  
					<table  width="100%" border="0" cellpadding="0" cellspacing="1">
						<tr style="height:10px">
						</tr>
						#if($!{kunnr.nameUpdateFile})
						<tr>
        				<td class="head" noWrap>变更证明附件:</td>
        				<td>
						<a href="$!{appUrl}/kunnrAction!downLoadAttachments.jspa?attachmentsPath=$!{kunnr.nameUpdatePath}&attachmentsName=$!{kunnr.nameUpdateFile}">$!{kunnr.nameUpdateFile}</a>
						</td>
						</tr>
						#else
                        <a class="head" noWrap><font color='green'>没有附件信息!</font></a>
						#end
		    		</table> 
				</div>
			</br>
			<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
		</form>
	</body>
		<script type="text/javascript" src="$!{env.imgUrl}/js/platform/kunnr/kunnrViewInfo.js?version=20161214"></script>
</html>