<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		#CSSM(["easyui","style"])
		
	</head>
	<body>
			<form id="ff" method="post" enctype="multipart/form-data">
			<div class="easyui-panel" title="开户提报信息" data-options="collapsible:false,iconCls:'icon-tip'" style="padding: 2px; background: #fafafa;">
			<table width="100%" border="0" cellpadding="0" cellspacing="1">
			<tr>
				<td class="head" noWrap>申请人:</td>
				<td>
					<input class="easyui-validatebox" data-options="required:false" id="createUser" name="kunnr.createUser"  value='$!{kunnr.createUser}' readonly   >
					<input type="hidden" id="createUserId" name="kunnr.createUserId"  value='$!{kunnr.createUserId}' readonly  >
				</td>
				<td class="head" noWrap>申请日期:</td>
				<td><input class="easyui-validatebox" data-options="required:false" id="createDate" name="kunnr.createDate"  value='$!{kunnr.createDate}' readonly  ></td>
			</tr>
			<tr>
				<td class="head" noWrap>开户申请填写帮助文档:</td>
				<td clospan="3">
					<a href="javascript:exportDoc()"  id="exportDoc"  plain="true">开户申请填写帮助文档.docx</a>
				</td>
			</tr>
		    </table>
			</div>
			
			<input type="hidden" id="title" name="title"  value="开户申请提报"/>
			<input type="hidden" id="userId" name="userId" value="$!{userId}"/>
			<input type="hidden" id="xmlId" name="xmlId" value="$!{xmlId}"/>
			<input type="hidden" id="subFolders" name="subFolders" value="$!{subFolders}"/>
			<input type="hidden" id="nextUserId" name="nextUserId" />
			<input type="hidden" id="kunnrAddressList" name="kunnrAddressList" />
			##<input type="hidden" id="kunnrBrandList" name="kunnrBrandList" />
			<input type="hidden" id="kunnrAcountList" name="kunnrAcountList" />
			##<input type="hidden" id="kunnrSalesAreaList" name="kunnrSalesAreaList" />
			<input type="hidden" id="acountListSize" name="acountListSize" value="$!{acountListSize}"/>
			<input type="hidden" id="bCustomerTargetListSize" name="bCustomerTargetListSize" value="$!{bCustomerTargetListSize}"/>
			##<input type="hidden" id="bCustomerTargetList" name="bCustomerTargetList" value="$!{bCustomerTargetList}"/>
			<input type="hidden" id="kukla" name="kunnrBusiness.kukla" value="$!{kunnrBusiness.kukla}"/>
			<div class="easyui-panel" title="基本资料<font color='red'>&nbsp;&nbsp;&nbsp;&nbsp;温馨提示：带红色'*'号为必填项目!</font>" data-options="collapsible:true,iconCls:'icon-list'" style="padding: 2px; background: #fafafa;">
			<table width="100%" border="0" cellpadding="1" cellspacing="1">
			<tr>
				<td class="head" noWrap>客户注册名称:<font color='red'>*</font></td>
				<td width="30px"><input class="easyui-validatebox" id="name1" name="kunnr.name1" value='$!{kunnr.name1}' data-options="required:true" validType="length[0,30]"></td>
				#*<td class="head" noWrap>客户简称:</td>
				<td><input class="easyui-validatebox" data-options="required:false" id="name2" name="kunnr.name2" value='$!{kunnr.name2}'></td>*#
				<td class="head" noWrap>客户SAP代码:</td>
				<td width="200px"><input class="easyui-validatebox" data-options="required:false"  style="BACKGROUND-COLOR:pink"  id="kunnr" name="kunnr.kunnr" value='generating...' readonly >
					<input type="hidden" id="kunnrCode" name="kunnr.kunnrCode" value='$!{kunnrCode}'/>
					<input type="hidden" id="codeSales" name="kunnr.codeSales" value='$!{kunnr.codeSales}'/>
				</td>
				<td class="head" noWrap>所属组织:</td>
				<td >
					<input class="easyui-validatebox" id="orgName" name="kunnr.orgName" value="" data-options="required:true" readonly/>
					<input type='hidden' id="orgId" name="kunnr.orgId" value="$!{kunnr.orgId}"/>
					<a class="easyui-linkbutton" href="javascript:selectOrgTree()">选择</a>
				</td>
				 <td class="head" noWrap>经营品牌(多选):</td>
				<td><input id="brands" name="kunnr.brands" class="easyui-combobox"  data-options ="required:true" style="width:155px;"/>
					<input id="brandsC" name="brandsC"  type="hidden" value="$!{kunnr.brands}" />
					<input id="brandsDM" name="brandsDM"  type="hidden" value="$!{kunnr.brandsOfDM}" />
				<td>
			<td width="200px">
				##<input class="easyui-validatebox"/>
                </td>
			</tr>
			<tr>
				<td class="head" noWrap>打码号:</td>
				<td><input class="easyui-validatebox" data-options="required:false" style="BACKGROUND-COLOR:pink" id="locco" name="kunnr.locco" value='DM...' readonly ></td>
				<td class="head" noWrap>客户分类:<font color='red'>*</font></td>
				<td><input class="easyui-combobox" id="channelId" name="kunnr.channelId" value="$!{kunnr.channelId}" style="width:146px;" data-options="required:true,editable:false"/></td>	
				<input type="hidden" id="channelName" name="channelName">
				<td class="head" noWrap>上级经销商:</td>
				<input type="hidden" id="konzsTxt" name="kunnr.konzsTxt" value="$!{kunnr.konzsTxt}"/>
				<input type="hidden" id="konzsId" value='$!{kunnr.konzs}' readonly>
				<td><select class="easyui-combogrid" id="konzs" name="kunnr.konzs" value="$!{kunnr.konzs}"  style="width:146px;" data-options="required:false,editable:false"/>
				</td>
				<div id="toolbarKonzs" class="datagrid-toolbar">
					<input class="easyui-searchbox" searcher="searcherKonzs" prompt="请输入经销商名称查询" style="width:300px"></input>	
					<a class="icon-clear" title="点击清除选定值" style="cursor:pointer" onclick="clearKonzs()">&nbsp;&nbsp;</a>
				</div>
				<td class="head" noWrap>主户经销商:</td>
				    <input type="hidden" id="kunagTxt" name="kunnr.kunagTxt" value="$!{kunnr.kunagTxt}"/>
				    <input type="hidden" id="kunagId" value='$!{kunnr.kunag}' readonly>
				<td><select class="easyui-combogrid" id="kunag" name="kunnr.kunag" value="$!{kunnr.kunag}"  style="width:146px;" data-options="required:false,editable:false"/>
				</td>
				<div id="toolbarKunag" class="datagrid-toolbar">
					<input class="easyui-searchbox" searcher="searcherKunag" prompt="请输入经销商名称查询" style="width:300px"></input>	
					<a class="icon-clear" title="点击清除选定值" style="cursor:pointer" onclick="clearKunag()">&nbsp;&nbsp;</a>
				</div>	
			</tr>
			<tr>
			<td class="head" noWrap>法人代表:<font color='red'>*</font></td>
				<td>
					<input class="easyui-validatebox"  data-options="required:true,missingMessage:'姓名'" id="name3" name="kunnr.name3" validType="length[0,6]" value='$!{kunnr.name3}'>
				</td>
				<td class="head" noWrap>性别年龄:<font color='red'>*</font></td>
				<td width="140px">
				<input class="easyui-combobox" data-options="required:false,missingMessage:'性别',editable:false" style="width:65px;" id="sex" name="kunnr.sex" value='$!{kunnr.sex}'></input>  	
				<input class="easyui-numberbox" data-options="required:false,min:0,missingMessage:'年龄',max:100" style="width:70px" id="age" name="kunnr.age" value='$!{kunnr.age}'>
				</td>
				<td class="head" noWrap>法人手机:<font color='red'>*</font></td>
				<td><input class="easyui-numberbox" id="mobNumber" name="kunnr.mobNumber" value='$!{kunnr.mobNumber}' data-options="required:true" missingMessage="请输入手机号" validType="length[11,11]" invalidMessage="请输入正确的11位手机号" ></td>
			    <td class="head" noWrap>企业性质:<font color='red'>*</font></td>
				<td><input class="easyui-validatebox" id="natureEnterprise" name="kunnr.natureEnterprise" data-options="required:true" value='$!{kunnr.natureEnterprise}' validType="length[0,100]"></td>
			</tr>
			<tr>
			    <td class="head" noWrap>食品流通许可证号:<font color='red'>*</font></td>
				<td><input class="easyui-validatebox" id="healthNumber" name="kunnr.healthNumber" value='$!{kunnr.healthNumber}' data-options="required:true" validType="length[0,30]"></td>
				<td class="head" noWrap>营业执照注册号:<font color='red'>*</font></td>
				<td><input class="easyui-validatebox" id="businessLicense" name="kunnr.businessLicense" data-options="required:true" value='$!{kunnr.businessLicense}' validType="length[0,30]"></td>
				<td class="head" noWrap>上次年审日期:</td>
				<td><input class="easyui-datebox" id="lastAnnual" name="kunnr.lastAnnual" value="$!dateUtil.datetime($!{kunnr.lastAnnual},'yyyy-MM-dd')"  data-options="required:false,editable:false"></td>
				<td class="head" noWrap>经营年限:</td>
				<td><input class="easyui-numberbox" id="businessLife" name="kunnr.businessLife" value="$!{kunnr.businessLife}" data-options=" required:false,min:0,max:100"></td>
			</tr>
			  <tr>
				<td class="head" noWrap>公司联系电话(座机):</td>
				<td><input class="easyui-validatebox"  id="telNumber" name="kunnr.telNumber" value='$!{kunnr.telNumber}'data-options="required:false" validType="telephone"></td>
				<td class="head" noWrap>传真:<font color='red'>*</font></td>
				<td><input class="easyui-validatebox" id="faxNumber" name="kunnr.faxNumber" value="$!{kunnr.faxNumber}" data-options="required:true" validType="fax"></td>
				<td class="head" noWrap>邮编:</td>
				<td><input class="easyui-validatebox" data-options="required:false" id="zip" name="kunnr.zip" value="$!{kunnr.zip}" validType="length[6,6]"></td>
				<td class="head" noWrap>仓库面积:<font color='red'>*</font></td>
				<td><input class="easyui-validatebox" id="warehouseArea" name="kunnr.warehouseArea" data-options="required:true" value='$!{kunnr.warehouseArea}' validType="length[0,30]" style="width:60%">
				<font class="head">平米</font>
				</td>
			</tr>
			<tr>
				<td class="head" noWrap>办公地所在省<font color='red'>*</font></td>
				<td>
				    <input type="hidden" id="bgXzAddress" name="kunnr.bgXzAddress" value="$!{kunnr.bgXzAddress}">
				    <input type="hidden" id="bgXzProvince">
				    <input type="hidden" id="bgXzCity">
				    <input type="hidden" id="bgXzArea">
				    <input type="hidden" id="bgXzTown">
					<input type="hidden"  id="region">
					<input class="easyui-combobox"  id="region1" name="kunnr.province" value="$!{kunnr.province}" readonly data-options="required:true,editable:false">
				</td>
				<td class="head" noWrap>所在城市:<font color='red'>*</font></td>	
				<td><input class="easyui-combobox"  id="region2" name="kunnr.city" value="$!{kunnr.city}" readonly data-options="required:true,editable:false"></td>
				<td class="head" noWrap>所在区:<font color='red'>*</font></td>	
				<td><input class="easyui-combobox"  id="region3" name="kunnr.area" value="$!{kunnr.area}" readonly data-options="required:true,editable:false"></td>
				<td class="head" noWrap>所在镇、乡:<font color='red'>*</font></td>	
				<td><input class="easyui-combobox"  id="region4" name="kunnr.town" value="$!{kunnr.town}" readonly data-options="required:true,editable:false"></td>
			</tr>
			<tr>
				<td class="head" noWrap>具体参考位置:<font color='red'>*</font></td>	
				<td colspan="3">
				<input class="easyui-validatebox" id="street1" name="kunnr.street1"  value='$!{kunnr.street1}' style="width:400px" data-options="required:true" validType="length[0,100]">
				</td>
				<td class="head" noWrap>雇员编制数量:<font color='red'>*</font></td>	
				<td>
				<input class="easyui-numberbox" id="staffNumber" name="kunnr.staffNumber" value="$!{kunnr.staffNumber}" data-options=" required:true,min:0">
				</td>
			</tr>
			#*<tr>
			<td class="head" noWrap>经营品项:</td>
        	<td colspan="4"><input class="easyui-combogrid" style="width:600px" id="categories" name="kunnrBusiness.categories" value="$!{kunnrBusiness.categories}" data-options="editable:false"></td>
			<div id="toolbarCategories" class="datagrid-toolbar" >
							<input class="easyui-searchbox" searcher="searcherCategories" prompt="请填写物料号或物料名" customer="#mm" style="width:300px"></input>		
			</div>
			</tr>*#
			<tr>
				<td class="head" noWrap>开户原因:<font color='red'>*</font></td>
				<td colspan="6">
				<textarea class="easyui-validatebox" id="createReason" name="kunnr.createReason" style="width:98%;height:80px;" data-options="required:true">$!{kunnr.createReason}</textarea>
				</td>
				<td class="head" noWrap></td>
				<td colspan="3"></td>
			</tr>
			 </table>
            </div>
			
			<!--财务信息-->
			<div class="easyui-panel" title="财务信息" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">
			<table width="100%" border="0" cellpadding="0" cellspacing="1">
			<tr>
			<font color='red'>&nbsp;&nbsp;&nbsp;&nbsp;温馨提示：税务登记证号开户提交以后,后期将不能随意修改,请慎重填写!</font>
			</tr><tr>
			<td class="head" noWrap>开户银行:<font color='red'>*</font></td>
				<td><input class="easyui-validatebox" id="bank" name="kunnr.bank" value='$!{kunnr.bank}' data-options="required:true" validType="length[0,50]"></td>
				<td class="head" noWrap>银行账户:<font color='red'>*</font></td>
				<td><input class="easyui-validatebox" id="bankAccount" name="kunnr.bankAccount" value='$!{kunnr.bankAccount}' data-options="required:true" validType="length[0,25]"></td>
			    <td class="head" noWrap>纳税人类型:<font color='red'>*</font></td>
				<td>
					<input  class="easyui-combobox" id="kverm" name="kunnr.kverm" value="$!{kunnr.kverm}" data-options="required:true,editable:false,multiple:false">
                    </input>
				</td>
				<td class="head" noWrap>税务登记证号:<font color='red'>*</font></td>
				<td><input class="easyui-validatebox" id="stceg" name="kunnr.stceg" value='$!{kunnr.stceg}' data-options="required:true" validType="length[0,30]"></td>
			</tr>
			<tr>
			<td class="head" noWrap>开票电话:<font color='red'>*</font></td>
				<td><input class="easyui-validatebox" id="kpPhone" name="kunnr.kpPhone" value='$!{kunnr.kpPhone}'data-options="required:true" validType="length[0,20]"></td>
				<td class="head" noWrap>发票收件人:<font color='red'>*</font></td>
				<td><input class="easyui-validatebox" id="fpRecipient" name="kunnr.fpRecipient" value='$!{kunnr.fpRecipient}'data-options="required:true"  validType="length[0,30]"></td>
				<td class="head" noWrap>发票联系电话:<font color='red'>*</font></td>
				<td><input class="easyui-validatebox" id="fpContactPhone" name="kunnr.fpContactPhone" value='$!{kunnr.fpContactPhone}'data-options="required:true"  validType="length[0,20]"></td>
			</tr>
			<tr>
			    <td class="head" noWrap>注册地址:<font color="red">*</font></td>
				<td colspan="3"><input class="easyui-validatebox" id="zcAddress" name="kunnr.zcAddress" value='$!{kunnr.zcAddress}'  style="width:90%" data-options="required:true" validType="length[0,100]"></td>
			</tr>
			<tr>
			    <td class="head" noWrap>发票寄送地址:<font color='red'>*</font></td>
				<td colspan="3"><input class="easyui-validatebox" id="fpAddress" name="kunnr.fpAddress" value='$!{kunnr.fpAddress}'  style="width:90%"  data-options="required:true"  validType="length[0,100]"></td>
			    <td colspan="4"><font color='red'>请按照类似此格式填写： XX省XX市XX区+乡镇道路街道门牌号/道路街道门牌号，否则可能会被退回</font></td>		
			    
			</tr>
			
			<tr height="2px"></tr>
		    </table>
            </div>
			</br>
			<!--<div class="easyui-panel" title="详细资料" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">
			<div class="easyui-tabs"  style="padding: 2px; background: #fafafa;height:200px" id="tabs">
			</div>
			</div>-->
				<!-- <div title="目标量" style="overflow:auto;padding:5px;"> 
				<table id="goalTable">
				<tr>
				<td>
					<a  class="easyui-linkbutton"  data-options="plain:true,iconCls:'icon-excel'" onclick=javascript:exportModel();> 目标量模板下载</a>
					<a  class="easyui-linkbutton"  data-options="plain:true,iconCls:'icon-excel'" onclick=javascript:importMatterModel();> 物料主数据导出(预算口径参考)</a>
				</td>
				</tr>
				<tr>
				#*<td>
				#if($!{xmlId}==''||$!{bCustomerTargetListSize}==0) 
					<a  class="easyui-linkbutton"  data-options="plain:true,iconCls:'icon-excel'" onclick=javascript:importModel();> 预算目标批量导入</a>
					<div class="goalFlag"><font color="red">导入成功。。。</font></div>
					<input type="hidden" id='importFlag'>
					#else
					<a  class="easyui-linkbutton"  data-options="plain:true,iconCls:'icon-excel'" onclick=javascript:importModel();> 预算目标批量导入</a>
					<a  class="easyui-linkbutton"  data-options="plain:true,iconCls:'icon-excel'" onclick=javascript:exportGoals();> 预算目标量导出</a>
					<div class="goalFlag"><font color="red">导入成功。。。</font></div>
					<input type="hidden" id='importFlag'>
					#end  
				</td>*#
				</tr>
				<tr>
				<td>
				#if($!{xmlId}==''||$!{bSalesTargetListSize}==0) 
					<a  class="easyui-linkbutton"  data-options="plain:true,iconCls:'icon-excel'" onclick=javascript:importSalesGoalModel();> 分销目标批量导入</a>
					<input type="hidden" id='importGoalSalesFlag'>
					#else
					<a  class="easyui-linkbutton"  data-options="plain:true,iconCls:'icon-excel'" onclick=javascript:importSalesGoalModel();> 分销目标批量导入</a>
					<a  class="easyui-linkbutton"  data-options="plain:true,iconCls:'icon-excel'" onclick=javascript:exportSalesGoals();> 分销目标量导出</a>
					<input type="hidden" id='importGoalSalesFlag'>
					#end
				</td>
				</tr>
			    </table> 
				</div> -->
				<div class="easyui-panel" title="业务联系" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">
				<!--<div title="业务联系" style="overflow:auto;padding:5px;">-->  
					<table width="100%" border="0" cellpadding="0" cellspacing="1">
						<tr>
        				<td class="head" noWrap>&nbsp;&nbsp;&nbsp;&nbsp;城市经理:</td>
        				<td>
        				<input type="hidden" id="businessManagerId" name="kunnrBusiness.businessManagerId"  value="$!{kunnrBusiness.businessManagerId}">
        				<input class="easyui-validatebox" data-options="required:false" id="businessManager" name="kunnrBusiness.businessManager"  validType="length[0,20]" value="$!{kunnrBusiness.businessManager}" readonly style="width:120px">
        					<a class="easyui-linkbutton"  href="javascript:selectManager()">选择</a>
        				</td>
        				<td class="head" noWrap>城市经理手机:</td>
        				<td><input class="easyui-numberbox" data-options="required:false" id="managerMobile" name="kunnrBusiness.managerMobile" value="$!{kunnrBusiness.managerMobile}" validType="length[11,11]" invalidMessage="请输入正确的11位手机号" style="width:120px"></td>
        				</tr>
						<tr style="height:10px">
						</tr>
						<tr>
						<td class="head" noWrap>&nbsp;&nbsp;&nbsp;&nbsp;客户经理:</td>
        				<td>
        				<input type="hidden" id="businessCompetentId" name="kunnrBusiness.businessCompetentId" value="$!{kunnrBusiness.businessCompetentId}">
        				<input class="easyui-validatebox" data-options="required:false" id="businessCompetent" name="kunnrBusiness.businessCompetent"  validType="length[0,20]" value="$!{kunnrBusiness.businessCompetent}" readonly style="width:120px">
        				<a class="easyui-linkbutton"  href="javascript:selectDirectory()">选择</a>
        				</td>
        				<td class="head" noWrap>客户经理手机:</td>
        				<td><input class="easyui-numberbox" data-options="required:false" id="competentMobile" name="kunnrBusiness.competentMobile" value="$!{kunnrBusiness.competentMobile}" validType="length[11,11]" invalidMessage="请输入正确的11位手机号" style="width:120px"></td>
						</tr>
						<tr style="height:10px">
						</tr>
						<tr>
						<td class="head" noWrap>&nbsp;&nbsp;&nbsp;&nbsp;经销商业务负责人:</td>
        				<td><input class="easyui-validatebox" data-options="required:false" id="kunnrLeader" name="kunnrBusiness.kunnrLeader"  validType="length[0,6]" value="$!{kunnrBusiness.kunnrLeader}" style="width:120px"></td>
        				<td class="head" noWrap>负责人手机:</td>
        				<td><input class="easyui-numberbox"  data-options="required:false" id="kunnrPhone" name="kunnrBusiness.kunnrPhone" value="$!{kunnrBusiness.kunnrPhone}" validType="length[11,11]" invalidMessage="请输入正确的11位手机号" style="width:120px"></td>
						</tr>
						<tr style="height:10px">
						</tr>
						<tr stype="algin:center">
						<td class="head" noWrap>&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td colspan="2" ><font color='red'>*注：请至少填写一个我司业务联系人及联系方式</font></td>
						</tr>
		    		</table>
				</div> 
				<div class="easyui-panel" title="收货信息" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa">
				<!--<div title="收货信息" style="overflow:auto;padding:5px;">-->  
					<table id="addressTable" width="100%" border="0" cellpadding="0" cellspacing="1">
					<font color="red">*注：第二行开始为送达方地址,之后如需增加或修改送达方信息,请到协同办公里向销管部经销商管理组长提交任意流程的事务申报</font>
					   <tr>
        				<td class="head" noWrap><a href="javascript:addAddress()"><img align="absMiddle" src='$!{env.imgUrl}/images/actions/action_add.png' title='添加一个详细地址'/></a>
							<font color='red'>*</font>(收货仓库)地址:</td>
						<input type="hidden" id="shProvince" name="kunnr.shProvince" value="$!{kunnr.shProvince}"/>
						<input type="hidden" id="shCity" name="kunnr.shCity" value="$!{kunnr.shCity}"/>
						<input type="hidden" id="shArea" name="kunnr.shArea" value="$!{kunnr.shArea}"/>
						<input type="hidden" id="shTown" name="kunnr.shTown" value="$!{kunnr.shTown}"/>
        				<td><a class="easyui-linkbutton" style="width:44px"  href="javascript:selectAddress()">选择</a></td>
        				<td><input class="easyui-validatebox" data-options="required:false,editable:false" id="street" name="kunnr.shXzAddress" value="$!{kunnr.shXzAddress}" style="width:300px" validType="length[0,50]" readonly></td>
        				<td><input class="easyui-validatebox" data-options="required:false" id="street01" name="kunnr.street" value="$!{kunnr.street}"  validType="length[0,50]" style="width:300px"></td>
        				<td class="head" noWrap>收货人:<input class="easyui-validatebox" data-options="required:false" id="name102" name="kunnr.name102" value="$!{kunnr.name102}" style="width:80px" validType="length[0,20]"><font class="head" noWrap>收货联系电话:<input class="easyui-validatebox" data-options="required:false" id="name102tel" style="width:90px" name="kunnr.name102tel" value="$!{kunnr.name102tel}" validType="telephone"></font></td>
        				<td class="head" noWrap>收货联系手机:</td>
        				<td><input class="easyui-numberbox" data-options="required:false" id="name102mob" style="width:90px" name="kunnr.name102mob" value="$!{kunnr.name102mob}" validType="length[11,11]" invalidMessage="请输入正确的11位手机号"></td>
        				<td class="head" noWrap>最大可通行车型:</td>
        				<td><input class="easyui-combobox" id="maximum02" name="kunnr.maximum" value="$!{kunnr.maximum}" style="width:80px" validType="length[0,20]" data-options="required:true,editable:false"></td>
					   </tr>
					   #set($velocityCount=1)
					   	#foreach($address in $kunnrAddressList)
							#set($velocityCount=$velocityCount+1)
						<tr id="addressTr_$velocityCount">
        				<td class="head" noWrap><a href="javascript:removeAddress($velocityCount)"><img align="absMiddle" src="$!{env.imgUrl}/images/actions/action_del.png"/></a>&nbsp;&nbsp;
        				<font color='red'>*</font>(送达方)地址:</td>
        				<input type="hidden" id="sdProvince_$velocityCount" name="address.province" value="$!{address.province}"/>
						<input type="hidden" id="sdCity_$velocityCount" name="address.city" value="$!{address.city}"/>
						<input type="hidden" id="sdArea_$velocityCount" name="address.area" value="$!{address.area}"/>
						<input type="hidden" id="sdTown_$velocityCount" name="address.town" value="$!{address.town}"/>
						<td><a class="easyui-linkbutton" style="width:44px"  href="javascript:selectAddress($velocityCount)">选择</a></td>
        				<td><input class="easyui-validatebox" data-options="required:false,editable:false" id="address_$velocityCount" name="address.xzAddress" value="$!{address.xzAddress}" style="width:400px" validType="length[0,50]" readonly></td>
        				<td><input class="easyui-validatebox" value="$!{address.address}" id="address01_$velocityCount" style="width:400px"></td>
        				<td class="head" noWrap>&nbsp;&nbsp;收货人:
        				<input class="easyui-validatebox" data-options="required:false"  value="$!{address.name}"  style="width:80px" id="name_$velocityCount" >
        				<font class="head" noWrap>收货联系电话:
        				<input class="easyui-validatebox" data-options="required:false" value="$!{address.telephone}" style="width:90px" id="telephone_$velocityCount" ></font></td>
        				<td class="head" noWrap>收货联系手机:</td>
        				<td><input class="easyui-validatebox" data-options="required:false"  value="$!{address.mobile}" style="width:80px" id="mobile_$velocityCount" ></td>
					    <td class="head" noWrap>最大可通行车型:</td>
        				<td><input class="easyui-combobox" id="maximum_$velocityCount" value="$!{address.maximum}" style="width:80px" data-options="required:false" validType="length[0,20]"></td>
					   </tr>
					   #end
		    		</table>
				</div>  
				<!-- div title="商业折扣" style="overflow:auto;padding:5px;">  
					<table id="salesAcountTable" width="100%" border="0" cellpadding="0" cellspacing="1">
					<font color="red">*注：每个回扣组都需填写折扣信息,如没有折扣,金额填写"0"!</font>
					#if($!{acountListSize}!=0)
						#foreach($acount in $kunnrAcountList)
							#set($velocityCount=$velocityCount+1)
						<tr id="salesAcountTr_$velocityCount">
						<td class="head" noWrap>#if($velocityCount==1)
						<a href="javascript:addAcount()">
						<img align="absMiddle" src='$!{env.imgUrl}/images/actions/action_add.png' title='添加一个物料'/></a>
						#else<a href="javascript:removeAcount($velocityCount)">
						<img align="absMiddle" src='$!{env.imgUrl}/images/actions/action_del.png' title='删除一个物料'/></a> #end &nbsp;
						物料回扣组:<input class="easyui-validatebox" value="$!{acount.bonus}" id="bonus_$velocityCount" data-options="required:false,disabled:true,editable:false">
						</td>	
						<td class="head" noWrap>月返(元):<input class="easyui-numberbox" data-options="required:false" style="width:60px" value="$!{acount.typeA}" id="typeA_$velocityCount" readonly>
						季返(元):<input class="easyui-numberbox" data-options="required:false" value="$!{acount.typeB}" style="width:60px" id="typeB_$velocityCount" readonly>
						年返(元):<input class="easyui-numberbox" data-options="required:false" value="$!{acount.typeC}" style="width:60px" id="typeC_$velocityCount" readonly>
						协议价(元):<input class="easyui-numberbox" data-options="required:false" id="typeMoney_$velocityCount" value="$!{acount.typeMoney}"  style="width:60px" readonly>
						</td>
						<td class="head" noWrap><div class="type2J"><label><font color='red'>
						二级返一级</font>#if($!{acount.flag}=='Y')<input type="checkbox" id="flag_$velocityCount" value="Y" checked onclick="checkKonzs($velocityCount)">
						#else
						<input type="checkbox" id="flag_$velocityCount" value="Y" onclick="checkKonzs($velocityCount)">#end</label>
						月返(元):<input class="easyui-numberbox" data-options="required:false" value="$!{acount.type2A}" style="width:60px" id="type2A_$velocityCount" readonly>
						季返(元):<input class="easyui-numberbox" data-options="required:false" value="$!{acount.type2B}" style="width:60px" id="type2B_$velocityCount" readonly>
						年返(元):<input class="easyui-numberbox" data-options="required:false" value="$!{acount.type2C}" style="width:60px" id="type2C_$velocityCount" readonly>
						</div></td>	
						<td width="20%">
						&nbsp;
						</td>
						<td width="20%">
						&nbsp;
						</td>
						<td width="20%">
						&nbsp;
						</td>			
						</tr>
						#end
					  #else
						<tr id="salesAcountTr_1"> 
        				<td class="head" noWrap><a href="javascript:addAcount()"><img align="absMiddle" src='$!{env.imgUrl}/images/actions/action_add.png' title='添加一个物料'/></a>
								<font color='red'>*</font>&nbsp;物料回扣组:<input class="easyui-combobox" id="bonus_1" data-options="required:false,editable:false">
						</td>	
						<td class="head" noWrap>月返(元):<input class="easyui-numberbox" id="typeA_1" style="width:60px">
						季返(元):<input class="easyui-numberbox" data-options="required:false" id="typeB_1"  style="width:60px">
						年返(元):<input class="easyui-numberbox" data-options="required:false" id="typeC_1"  style="width:60px">
					         协议价(元):<input class="easyui-numberbox" data-options="required:false" id="typeMoney_1"  style="width:60px">
						</td>
						<td class="head" noWrap>
						<div class="type2J"><label><font color='red'>二级返一级</font><input type="checkbox" id="flag_1" value="Y" onclick="checkKonzs(1)"></label>
						月返(元):<input class="easyui-numberbox" data-options="required:false" id="type2A_1" style="width:60px" onclick="checkKonzs(1)">
						季返(元):<input class="easyui-numberbox" data-options="required:false" id="type2B_1"  style="width:60px" onclick="checkKonzs(1)">
						年返(元):<input class="easyui-numberbox" data-options="required:false" id="type2C_1"  style="width:60px" onclick="checkKonzs(1)">
						<div/>
						</td>	
						<td width="20%">
						&nbsp;
						</td>
						<td width="20%">
						&nbsp;
						</td>
						</tr>
						#end
		    		</table>  
				</div -->
				<div class="easyui-panel" title="销售视图" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">
				<!--<div title="销售视图" style="overflow:auto;padding:5px;">-->  
					<table id="saleViewTable" width="100%" border="0" cellpadding="0" cellspacing="1">
                        <tr>
                        <td class="head" noWrap>公司代码:</td>
				         <td><input class="easyui-combobox" id="bukrs" name="kunnr.bukrs" value='$!{kunnr.bukrs}' data-options="required:true,editable:false" style="width:100px"></td>
						<td class="head" noWrap>客户科目组:</td>
				        <td><input class="easyui-combobox" id="ktokd" name="kunnr.ktokd" value="$!{kunnr.ktokd}" data-options="required:true,editable:false" readonly style="width:120px"></td>	
						<td class="head" noWrap>交货优先权:<font color='red'>*</font></td>
        				<td><input class="easyui-combobox" id="lprio" name="kunnrBusiness.lprio" value="$!{kunnrBusiness.lprio}" data-options="required:true,editable:false" validType="length[2,10]" style="width:120px"></td>
						</tr>
						<tr>
						<td class="head" noWrap>销售大区:<font color='red'>*</font></td>
        				<td><input class="easyui-combogrid" id="vkgrp" name="kunnrBusiness.vkgrp" value="$!{kunnrBusiness.vkgrp}" data-options="required:true,editable:false" style="width:100px"></td>
        				<div id="toolbarVkgrp" class="datagrid-toolbar">
							<input class="easyui-searchbox" searcher="searcherVkgrp" prompt="请输入大区名称查询"></input>		
						</div>
        				<td class="head" noWrap>销售省份:<font color='red'>*</font></td>
        				<td><input class="easyui-combogrid" id="bzirk" name="kunnrBusiness.bzirk" value="$!{kunnrBusiness.bzirk}" data-options="required:true,editable:false" style="width:120px"></td>
        				<div id="toolbarBzirk" class="datagrid-toolbar">
							<input class="easyui-searchbox" searcher="searcherBzirk" prompt="请输入省份名称查询"></input>		
						</div>
        				<td class="head" noWrap>城市办:<font color='red'>*</font></td>
        				<td><input class="easyui-combobox" id="vkbur" name="kunnrBusiness.vkbur" value="$!{kunnrBusiness.vkbur}" data-options="required:true,editable:false" readonly style="width:120px"></td>
						</tr>
						<tr>
        				##<td class="head" noWrap>付款方式:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="zterm" name="kunnrBusiness.zterm" data-options="required:true" value="0001"  validType="length[4,4]"></td>
        				##<td class="head" noWrap>货币:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="waers" name="kunnrBusiness.waers" data-options="required:true" value="RMB"  validType="length[0,4]"></td>
        				##<td class="head" noWrap>定价过程:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="kalks" name="kunnrBusiness.kalks" data-options="required:true" value="1"  validType="length[1,1]"></td>
						
						</tr>
						<tr>
        				
        				##<td class="head" noWrap>POD相关:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="podkz" name="kunnrBusiness.podkz" data-options="required:true" value="X" validType="length[1,1]"></td>
        				##<td class="head" noWrap>完全交货:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="autlf" name="kunnrBusiness.autlf" data-options="required:true" value="X" validType="length[1,1]"></td>
						##<td class="head" noWrap>每个项目的交货:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="kztlf" name="kunnrBusiness.kztlf" data-options="required:true" value="C" validType="length[1,1]"></td>
						</tr>
						<tr>
        				##<td class="head" noWrap>最大部分交货:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="antlf" name="kunnrBusiness.antlf" data-options="required:true"  value="1" validType="length[1,1]"></td>
        				##<td class="head" noWrap>回扣相关:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="bokre" name="kunnrBusiness.bokre" data-options="required:true" value="X" validType="length[1,1]"></td>
        				##<td class="head" noWrap>账户分配组:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="ktgrd" name="kunnrBusiness.ktgrd" data-options="required:true" value="01" validType="length[2,2]"></td>
						</tr>
						
						<tr>
        				##<td class="head" noWrap>标题:</td>
        				<td><input type="hidden" lass="easyui-validatebox" id="titleMedi" name="kunnrBusiness.titleMedi" data-options="required:true" value="公司" validType="length[0,10]"></td>
        				##<td class="head" noWrap>国家:</td>
        				<td><input type="hidden"  class="easyui-validatebox" id="country" name="kunnrBusiness.country" data-options="required:true" value="CN" validType="length[0,10]"></td>
        				##<td class="head" noWrap>语言:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="langu" name="kunnrBusiness.langu" data-options="required:true" value="ZH" validType="length[0,10]"></td>
						</tr>
						
						<tr>
						##<td class="head" noWrap>统驭科目:</td>
        				<td ><input type="hidden" class="easyui-validatebox" id="akont" name="kunnrBusiness.akont" data-options="required:true" value="1122002000"  validType="length[10,10]"></td>
        				##<td class="head" noWrap>客戶统计组:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="versg" name="kunnrBusiness.versg" data-options="required:true" value="1" validType="length[1,1]"></td>
						##<td class="head" noWrap>税分类:</td>
        				<td><input type="hidden" class="easyui-validatebox" id="taxkd01" name="kunnrBusiness.taxkd01" data-options="required:true" value="1" validType="length[1,1]"></td>
						</tr>
		    		</table>  
				</div>
				
			#*	<div title="销售范围" style="overflow:auto;padding:5px;">  
					<table id="saleAreaTable" width="100%" border="0" cellpadding="0" cellspacing="1">
					<tr>
					  <td class="head" noWrap><a class="easyui-linkbutton"  href="javascript:selectTvkbz(1)">添加销售范围</a></td>
					  <td width="90%" colspan="8"></td>
					</tr>
					    <tr id="saleAreaTr_1"> 
					    ##<a href="javascript:addArea()"><img align="absMiddle" src='$!{env.imgUrl}/images/actions/action_add.png' title='添加'/></a>
					    <td class="head" noWrap>销售组织:</td>
				        <td><input type="hidden" id="vkorg_1" name="kunnrSalesArea.vkorg" value='$!{kunnrSalesArea.vkorg}' style="width:40px" readonly ></input>
				        <input class="easyui-validatebox" id="vkorgTxt_1" name="kunnrSalesArea.vkorgTxt" value='$!{kunnrSalesArea.vkorgTxt}' style="width:40px" data-options="required:true,editable:false" readonly ></input>
				        </td>
				        <td class="head" noWrap>产品组:</td>
				        <td><input  type="hidden" id="spart_1" name="kunnrSalesArea.spart" value='$!{kunnrSalesArea.spart}' readonly></input>
				        <input  class="easyui-validatebox" id="spartTxt_1" name="kunnrSalesArea.spartTxt" value='$!{kunnrSalesArea.spartTxt}' data-options="required:true,editable:false" readonly></input>
				        </td>	
				        <td class="head" noWrap>分销渠道:</td>
				        <td><input  type="hidden" id="vtweg_1" name="kunnrSalesArea.vtweg" value='$!{kunnrSalesArea.vtweg}'  readonly>
				        <input  class="easyui-validatebox" id="vtwegTxt_1" name="kunnrSalesArea.vtwegTxt" value='$!{kunnrSalesArea.vtwegTxt}' data-options="required:true,editable:false" readonly>
				        </td>	
						<td class="head" noWrap>交货工厂:</td>
        				<td><input class="easyui-combobox" id="werks_1" name="kunnrSalesArea.werks" data-options="required:true,editable:false"></td>
        				<td class="head" noWrap>装运条件:</td>
        				<td><input class="easyui-combobox" id="vsbed_1" name="kunnrSalesArea.vsbed" data-options="required:true,editable:false" style="width:60px" validType="length[2,2]"></td>
						</tr>
		    		</table>  
				</div>
				*#
				<div class="easyui-panel" title="评估报告、潜在客户附件上传" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">
				<!--<div title="评估报告、潜在客户附件上传" style="overflow:auto;padding:5px;">-->  
					<table  width="100%" border="0" cellpadding="0" cellspacing="1">
						<tr style="height:10px">
						</tr>
						#if($!{kunnrBusiness.accessFile}||$!{kunnrBusiness.explainFile}||$!{kunnrBusiness.customerFile})
						<tr>
        				<td class="head" noWrap>经销商开户评估表:</td>
        				<td><input type="file" name="upload" id="accessFile" style="width:200px" >
						<a href="$!{appUrl}/kunnrAction!downLoadAttachments.jspa?attachmentsPath=$!{kunnrBusiness.accessFilePath}&attachmentsName=$!{kunnrBusiness.accessFile}">$!{kunnrBusiness.accessFile}</a>
						</td>
						<td style="width:50%"></td>
        				<td></td>
						</tr>
						<tr style="height:10px">
						</tr>
						
						<tr>
        				<td class="head" noWrap>经销商开户说明:</td>
        				<td><input type="file" name="upload" id="explainFile" style="width:200px" >
						<a href="$!{appUrl}/kunnrAction!downLoadAttachments.jspa?attachmentsPath=$!{kunnrBusiness.explainFilePath}&attachmentsName=$!{kunnrBusiness.explainFile}">$!{kunnrBusiness.explainFile}</a>
						</td>
						<td style="width:50%"></td>
        				<td></td>
						</tr>
						<tr style="height:10px">
						</tr>
						
						<tr>
        				<td class="head" noWrap>意向新开经销商市场表现评估表:</td>
        				<td><input type="file" name="upload" id="customerFile" style="width:200px" >
						<a href="$!{appUrl}/kunnrAction!downLoadAttachments.jspa?attachmentsPath=$!{kunnrBusiness.customerFilePath}&attachmentsName=$!{kunnrBusiness.customerFile}">$!{kunnrBusiness.customerFile}</a>
						</td>
						<td></td>
						</tr>
						#else
						<tr>
        				<td class="head" noWrap>经销商开户评估表:</td>
        				<td><input type="file" name="upload" id="accessFile" style="width:200px" ></td>
						<td style="width:50%"></td>
        				<td></td>
						</tr>
						<tr style="height:10px">
						<tr>
        				<td class="head" noWrap>经销商开户说明:</td>
        				<td><input type="file" name="upload" id="explainFile" style="width:200px" ></td>
						<td style="width:50%"></td>
        				<td></td>
						</tr>
						<tr style="height:10px">
						</tr>
						<tr>
        				<td class="head" noWrap>意向新开经销商市场表现评估表:</td>
        				<td><input type="file" name="upload" id="customerFile" style="width:200px" ></td>
						<td></td>
						</tr>
						#end
		    		</table> 
				</div>
				#if($licenseListSize!=0)
				    <div id="panel" class="easyui-panel" title="证照列表" data-options="collapsible:false,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">
					<!--<div title="证照列表" style="overflow:auto;padding:5px;">--> 	
				<table  width="100%" border="0" cellpadding="0" cellspacing="1">
					#foreach($kunnrLicense in $kunnrLicenseList)
					#set($velocityCount=$velocityCount+1)
                	<tr>
                		<td class="head" noWrap>$!{kunnrLicense.licenseName}:</td>
                    	<td>
                    	<input type="hidden" name="licenseName" value="$!{kunnrLicense.licenseName}"></input>
                		<input type="file" name="license">
                		<input type="hidden" id="oldLice_$velocityCount" value="$!{kunnrLicense.licenseName}"></input>
                		<a href="$!{kunnrLicense.licensePath}" target="_blank">$!{kunnrLicense.licenseFile}</a>
                		</td>
                		<td class="head" noWrap>证照有效期:</td>
                		<td>
                		<input class="easyui-datebox" name="licenseValid" value="$!dateUtil.datetime($!{kunnrLicense.licenseValid},'yyyy-MM-dd')" data-options="editable:false"/></td>
                	</tr>
					#end
		    		</table> 
				</div>
				#else
				<div id="panel" class="easyui-panel" title="证照上传" data-options="collapsible:false,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">
			    <!--<div title="证照上传" style="overflow:auto;padding:5px;">-->  
				</div>
				#end
			</br>
			#if($!{userId}==$!{kunnr.createUserId})
			<div  class="saveBut" border="false" style="text-align:center;height:30px;line-height:30px;">
			    <a class="easyui-linkbutton" icon="icon-ok" href="javascript:save()">存草稿</a>
			    <a class="easyui-linkbutton" icon="icon-ok" href="javascript:submit()">提交</a>
				<a class="easyui-linkbutton" icon="icon-cancel" href="javascript:cancel()">重置</a>
			</div>
			#end
			<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
		</form>
		<div id="nextUserDialog"/>
	</body>
	#JSM(["jquery", "easyui"])
	#JS_ENV_VAL()
	<script type="text/javascript" src="$!{env.imgUrl}/js/platform/kunnr/kunnrApply.js?version=20170303"></script>
</html>