<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
	</head>
	<body>
		<form method="post">
		<input type="hidden" id="status" name="status" value="Y">
			<div class="easyui-panel" title="查询条件" data-options="collapsible:true,iconCls:'icon-search'" style="padding: 2px; background: #fafafa;">
			<table width="100%" border="0" cellpadding="0" cellspacing="1">
			<tr>
			    <td class="head" noWrap >编号:</td>
				<td>
					<input type="text" id="xmlId" name="xmlId">
				</td>
				<td class="head" noWrap>名称:</td>
				<td>
					<input type="text" id="xmlName" name="xmlName"/>
				</td>
				#*<td class="head" noWrap>流程事务编号:</td>
				<td>
					<input type="text" id="eventId" name="eventId"/>
					
				</td>*#
			#*	<td class="head" noWrap>状态:</td>
				<td>
					
				</td>*#
				<td>
				<a href="javascript:search()"  class="easyui-linkbutton" iconCls="icon-search">查询</a>
				</td>
			</tr>
			
		    </table>
			</div>
			
			<table id="datagrid">  
			</table> 
		</form>
		<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
		<div id="mainWindow"/>
	</body>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/kunnr/searchKunnrApplys.js"></script>
</html>