<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()	
	</head>
	<body class="easyui-layout">
		<form method="post" target="hideFrame">
			<input type="hidden" name="year" id="year" value="$!{year}" />
			<input type="hidden" name="month" id="month" value="$!{month}" />
			<input type="hidden" name="instock_total_id" id="instock_total_id" value="${instock_total_id}"  />
			<input type="hidden" name="instock_id" id="instock_id" value="${instock_id}"  />
			<input type="hidden" name="instock_provide_id" id="instock_provide_id" value="${instock_provide_id}"  />
			<input type="hidden" name="instock_good_place" id="instock_good_place" value="${instock_good_place}"  />
			<input type="hidden" name="matnr" id="matnr"  />
			<input type="hidden" name="bezei" id="bezei"  />
			<div region="center" class="easyui-panel" title="信息维护" data-options="iconCls:'icon-edit'">
			<table width="100%" border="0"  height="100%" cellpadding="0" cellspacing="1">
		    <tr>
			<td colspan="2" class="home_title_line">
			<table width="100%" border="0" cellpadding="0" cellspacing="1">
			<tr>
				<td class="head" noWrap>批号:</td>
				<td><input type="text"  id="instockdetBatch" name="instockdetBatch"  class="easyui-numberbox" min="0" fix="" data-options="required:true"/>
				</td>
			</tr>	
				<tr>
				<td class="head" noWrap>品项:</td>
				<td><input id="wid" name="wid"   class="easyui-combobox"    style="width:147px;"  data-options="required:true"  />
                </td>
			</tr>	
			  <!-- <tr>
				<td class="head" noWrap>库存地点:</td>
				<td><select class="easyui-combobox" id="theMonth" name="theMonth"  style="width:145px"  readonly data-options="required:false">
						<option value="1">公用库存</option>
						<option value="1" selected></option>
                </select>
				</td>
       	     </tr>
			 <tr>
				<td class="head" noWrap>出货地点:</td>
				<td><input type="text"  id="box" name="box"  class="easyui-validatebox"   data-options="required:true"/>
					</td>
					</tr>
					<tr>
				<td class="head" noWrap>交货单:</td>
				<td><input type="text"  id="targetNum" name="targetNum" class="easyui-validatebox" data-options="required:true"/></td>
					</tr>-->
			
			<tr>
				<td class="head" noWrap>数量:</td>
				<td><input type="text"  id="instockdet_number" name="instockdet_number" class="easyui-numberbox" data-options="required:true"/></td>
			</tr>
			<tr>
				<td class="head" noWrap>未出:</td>
				<td><input type="text"  id="instockdet_unumber" name="instockdet_unumber" class="easyui-numberbox" data-options="required:true"/>
				<label class="head">已出:</label>
				<input type="text"  id="instockdet_anumber" name="instockdet_anumber" class="easyui-numberbox" data-options="required:true"/></td>
			</tr>
            </table>
			</td>
			</tr>
		    </table>
			</div>
			<div region="south" border="false" style="text-align:right;height:30px;line-height:30px;">
				<a class="easyui-linkbutton" icon="icon-ok" href="javascript:submit()">Submit</a>
				<a class="easyui-linkbutton" icon="icon-cancel" href="javascript:close()">Cancel</a>
			</div>
			<div id="toolbar1" class="datagrid-toolbar" >
		        <input id="ss" class="easyui-searchbox" searcher="searcher1" prompt="请填写物料号或物料名" customer="#mm" style="width:300px"></input>		
		       </div>
		</form>
		<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
	</body>
	<div id="OpenGoal"/> 
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/instock/createStockdtNewO.js"></script>
</html>