<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui","upload"])
		#JS_ENV_VAL()
	</head>
		<body class="easyui-layout">	
	<form  method="post" target="hideFrame" enctype="multipart/form-data"> 
           <div id="p_add" region="center" class="easyui-panel"
			title="需求信息" 
			data-options="iconCls:'icon-edit'">
          
						<table id="table_01" width="100%" cellspacing="0" border="0">
									 <tr>
                                            <td class="head" nowrap>
												提交人：
											</td>
											<td>
												<input type="text"  id="author" name="demand.author" value="$!{author}" class="easyui-validatebox"
								  readonly="true">
											</td>
                                            <td class="head" nowrap>
												提交人联系方式：
											</td>
											<td>
												<input type="text"  id="phone" name="demand.phone" value="$!{phone}" class="easyui-validatebox"
								  >
											</td>
											<td class="head" nowrap>
												提交人邮箱：
											</td>
											<td>
											    <input type="text"  id="authorEmail" name="demand.authorEmail" value="$!{authorEmail}" class="easyui-validatebox"
								  >
											</td>
									  </tr>
									 <tr>
									       <td>&nbsp;</td>
									 </tr>
									 <tr>
									       <td class="head" nowrap>
												需求分类：
											</td>
											<td>
											   <select id="demandType" name="demand.demandType">
			                                       <option value="1">人力资源</option>
			                                       <option value="2">财务管理</option>
			                                       <option value="3">信息管理</option>
			                                       <option value="4">营销管理</option>
			                                       <option value="5">供应链管理</option>
			                                   </select>
											</td>
											<td class="head" nowrap>
												需求等级：
											</td>
											<td>
											   <select id="demandLevel" name="demand.demandLevel">
			                                       <option value="1">既重要又紧急</option>
			                                       <option value="2">重要但不紧急</option>
			                                       <option value="3">不重要但紧急</option>
			                                   </select>
											</td>
											<td class="head" nowrap>
												期望完成日期：
											</td>
											<td>
								               <input id="expectDate" name="demand.expectDate" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})" class="Wdate" />
											</td>
									 </tr>
									 <tr>
                                            <td class="head" nowrap>
												需求标题：
											</td>
											<td colspan="3">
												<textarea style="resize:none;" maxlength="100" cols="60" rows="1"  id="title"   name="demand.title" class="easyui-validatebox"
								                  ></textarea>
											</td>
                                         </tr>
                                         <tr>
                                         <td class="head" nowrap>
												需求描述：
											</td>
											<td colspan="4">
												<textarea maxlength="480" cols="80" rows="6"  id="content"   name="demand.content" class="easyui-validatebox"
								  style="resize:none;"></textarea>
											</td>
                                     </tr>
                                     <tr>
                                            <td class="head" noWrap>附件上传:</td>
        				                    <td>
        				                    <div id="input">
        				                        <input name="upload" id="file0" type="file" value="添加附件" onchange="addFile()">
        				                    </div>
        				                    <div id="_file"></div>
        				                    </td>
                                     </tr>
						      </table>
						<div class="easyui-panel" title="需求处理信息" data-options="collapsible:true,iconCls:'icon-list'" style="padding: 2px; background: #fafafa;">
						      
						      <table id="handleAuthor" width="100%" border="0">
						          <tr><td style="font-size: 12px;font-weight: bold;width:10%;">处理人信息</td><td colspan="5">&nbsp;</td></tr>
			                      <tr><td><a href="javascript:addHandleAuthor()"> 添加处理人</a></td><td colspan="5">&nbsp;</td></tr>
						          <tr>
						              <td>&nbsp;</td>
						              <td style="font-size: 12px;font-weight: bold;COLOR: #006b8a;width:15%">需求处理人</td>
						              <td style="font-size: 12px;font-weight: bold;COLOR: #006b8a;width:15%">处理部门</td>
						              <td style="width:15%">&nbsp;</td>
						          </tr>
                              </table>
                       </div>
                       
		                          <div region="south" border="false" style="text-align:center;height:30px;line-height:30px;">
				                      <a class="easyui-linkbutton" icon="icon-ok" href="javascript:submit()">提交</a>
				                      <a class="easyui-linkbutton" icon="icon-cancel" href="javascript:cencel()">取消</a>
		                          </div>
                               
            </div>
	        <div id="nextUserDialog"/>
		 </form>
           <iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe></body>
         <script type="text/javascript" src="$!{env.imgUrl}/js/My97DatePicker/WdatePicker.js"></script>
         <script type="text/javascript" src="$!{env.imgUrl}/js/platform/question/demandCreate.js"></script>
</html>