<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
	</head>
	<body>
	         <form action="" method="post">
			<div id="p_search" class="easyui-panel" title="查询条件"
				style="padding: 2px; background: #fafafa;" data-options="collapsible:true,iconCls:'icon-search'">
				    <table width="100%" border="0" cellpadding="0" cellspacing="1">
				    <tr> 
					<td class="head" noWrap><label for="con3">组织</label></td>
					<td>
					    <input id="orgName" name="orgName" type='text' value="$!{orgName}" class="easyui-validatebox" readonly="true" />
						&nbsp;<!--<a id="orgTreeBut" class="easyui-linkbutton" href="javascript:selectOrgTree();">组织</a>-->
					    <input id="orgId" name="orgId" type='hidden' value='$!{orgId}' /> 
				        <input id="userId" name="userId" type="hidden" value='$!{userId}' />
				        <input id="loginId" name="loginId" type="hidden" value='$!{loginId}' />
					</td>
                    <td class="head" noWrap><label for="con3">提报人</label></td>
					<td><input class="easyui-validatebox" id="author" name="author"></input></td>
					<td class="head" noWrap><label for="con3">提交日期</label></td>
					<td><input class="easyui-datebox" id="qTime" name="qTime" data-options="editable:false">&nbsp;&nbsp;&nbsp;</td> 
					<td colspan="2"><input class="easyui-datebox" id="qTime2" name="qTime" data-options="editable:false"></td> 
					</tr>
					<tr>
					<td class="head" noWrap><label for="con2">问题编号</label></td>
                    <td><input type="text" id="qId" name="qId"></input></td> 
                    <td class="head" noWrap><label for="con2">问题标题</label></td>
                    <td><input type="text" id="qTitle" name="qTitle"></input></td> 
					<td class="head" noWrap><label for="con3">系统分类</label></td>
					  <td>
					    <select id="qTemp" name="qTemp" class="easyui-combobox">
					    </select>
					  </td>
					<td class="head" noWrap><label for="con3">问题等级</label></td>
					  <td>
					    <select class="easyui-combobox" id="qLevel" name="qLevel" readonly="true">
					    <option value="">请选择</option>
					      <option value="l101">非常紧急</option>
					      <option value="l102">紧急</option>
					      <option value="l103">一般</option>
					    </select>
					  </td>
					</tr>
					<tr>  
					<td class="head" noWrap><label for="con3">处理状态</label></td>
					<td>
					    <select class="easyui-combobox" id="handleState" name="handleState" readonly="true">
					        <option value="">请选择</option>
					        <option value="s101">未处理</option>
					        <option value="s102">进行中</option>
					        <option value="s103">已完成</option>
					        </select>
					</td>
					<td class="head" noWrap>处理人</td>
					<td><input class="easyui-validatebox" id="answerAuthor" name="answerAuthor"></input></td>
					<td class="head" noWrap><label for="con3">问题分类</label></td>
					<td>
					    <select class="easyui-combobox" id="qType" name="qType" readonly="true">
					        #*<option value="">请选择</option>
							<option value="p101">系统缺陷</option>
							<option value="p102">业务需求</option>
							<option value="p103">数据错误</option>
							<option value="p104">操作指导</option>
							<option value="p105">信息部工作任务</option>
							<option value="p106">权限</option>*#
						</select>
					</td>
                    <td class="head" noWrap><label for="con4">点击查询</label></td>
					<td>
						<a id="con_search" href="javascript:search()" class="easyui-linkbutton" data-options="iconCls:'icon-search'" >查询</a>
									<a href="javascript:clearValue()" class="easyui-linkbutton" iconCls="icon-clear">重置</a> 	
					</td>
					</tr>
                    </table>
			</div>
			<table id="question_list"></table>
	</form>
		<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
			 <div id="maintWindow"/> 
	</body>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/question/questionSearchUser.js?version=20170228"></script>
</html>