<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
	</head>
	<body>
	    <form method="post" >
			<input type="hidden" id="ids" name="ids"/>
			<input type="hidden" name="flagTemp" id="flagTemp" value="$!{flagTemp}" />
			<input type="hidden" id="userId" name="userId" value="$!{userId}"/>
			<input type="hidden" id="nextUserId" name="nextUserId" />
			<input type="hidden" id="kunnrGoalType" name="kunnrGoalType" value="$!{kunnrGoalType}" />
			<div class="easyui-panel" title="查询条件" data-options="collapsible:true,iconCls:'icon-search'" 
				style="padding: 2px; background: #fafafa;">
			<table width="100%" border="0" cellpadding="0" cellspacing="1">
				<tr>
				<td  class="head" noWrap>组织：</td>
                    	<td>
                    		<input class="easyui-validatebox"  id="orgName" name="orgName" value='$!{orgName}' readonly="true">
							<input type='hidden' id="orgId" name="orgId" value='$!{orgId}'> 
							<input type='hidden' id="orgName" name="orgName" value='$!{orgName}'>
							<input type="hidden" id="loginId" name="loginId" value='$!{loginId}'>
							<a class="easyui-linkbutton"  href="javascript:choseOrg()">选择</a>
							&nbsp;
            	     	</td>
		                <td class="head" noWrap >目标年月:</td>
				        <td><input type="text" id="startDate" name="startDate" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM'})" class="Wdate"/>
				            <font class="head">至</font>
				            <input type="text" id="endDate" name="endDate" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM'})" class="Wdate"/>
			            </td>
                </tr>
                <tr>
                	 <td class="head" noWrap>客户是否开户中:</td>
				        <td><select class="easyui-combobox" id="flag" name="flag"  style="width:65px;" data-options="editable:false">
						      <option value="">请选择...</option>
						      <option value="Y">是</option>
						      <option value="N">否</option>
					        </select>
				        </td>
				         <td class="head" noWrap>品牌:</td>
		                <td><input class="easyui-brand" id="brand" name="brand" /></td>
                </tr>
				<tr>
				<td class="head" noWrap>客户:</td>
				<td><input id="kunnr" name="kunnr" data-options="editable:false"></td>
					    <div id="toolbarKonzs" class="datagrid-toolbar">
					    <input class="easyui-searchbox" searcher="searcherKonzs" prompt="请输入客户编号或名称查询" style="width:300px"></input>		
				        </div>
				<td class="head" noWrap>对应品项or四级科目(SKU):</td>
				<td><input id="categoryId" name="categoryId" data-options="editable:false"></td>
			            <div id="toolbarCategory" class="datagrid-toolbar" >
			            <input class="easyui-searchbox" searcher="searcherCategory" prompt="请填写品类名"  style="width:300px" />
			            </div>
			    </tr>
				<tr>
				<td class="head" noWrap>目标类型:</td>
				        <td><select class="easyui-combobox" id="goalMark" name="goalMark"  style="width:65px;" data-options="editable:false">
						        <option value="Y">经销商</option>
						        <option value="N" selected>组织</option>
					        </select>
				        </td>
				<td colspan="2">			
					<a href="javascript:search()" class="easyui-linkbutton" iconCls="icon-search">查询</a>
				</td>
				</tr>
                </table>
				</div>
			<table id="datagrid">  
            </table>
	       </form>
	<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
	</body>
	<div id="maintWindow"/>
	<script type="text/javascript" src="$!{env.imgUrl}/js/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="$!{env.wfeUrl}/js/easyui/easyui.brand.js"></script>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/stockReport/searchSalesGoalCGDetailView.js"></script>
</html>