<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	
	<bean id="cuanhuoQueryAction" class="com.kintiger.platform.cuanhuoQuery.action.CuanhuoQueryAction"
		parent="baseAction" scope="request">
		<property name="cuanhuoQueryService" ref="cuanhuoQueryService" ></property>
	</bean>
	
	<bean id="cuanhuoQueryService" class="com.kintiger.platform.cuanhuoQuery.service.impl.CuanhuoQueryServiceImpl">
		<property name="cuanhuoQueryDao" ref="cuanhuoQueryDao" ></property>
		<property name="sapConnection" ref="sapConnection" />
	</bean>

	<bean id="cuanhuoQueryDao" class="com.kintiger.platform.cuanhuoQuery.dao.impl.CuanhuoQueryDaoImpl" parent="baseDao">
	</bean>

</beans>
