<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 	
	<bean id="distributionDataAction" class="com.kintiger.platform.distributionData.action.DistributionDataAction"
		parent="baseAction" scope="request">
		<property name="distributionDataService" ref="distributionDataService"/>
		<property name="kunnrService" ref="kunnrService"/>
		<property name="xmlFilePath">
			<value>${wfe.xml.filePath}</value>
		</property>	
		<property name="orgServiceHessian" ref="orgServiceHessian"/>
	</bean>
	<bean id="distributionDataService" class="com.kintiger.platform.distributionData.service.impl.DistributionDataServiceImpl">
        <property name="distributionDataDao" ref="distributionDataDao"/>
    </bean>
	<bean id="distributionDataDao" class="com.kintiger.platform.distributionData.dao.impl.DistributionDataDaoImpl"
        parent="baseDao">
    </bean>
    
</beans>
