
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui", "upload"])
		#JS_ENV_VAL()	
	</head>
	<body>
		<form id="ff" method="post" enctype="multipart/form-data" target="hideFrame">
			
			<input type="hidden" id="defaultUserId" name="defaultUserId" value="$!{allUsers.userId}" />
			<input type="hidden" id="defaultCompanyCode" name="defaultCompanyCode" value="$!{companyCode}" />
			
		<div id="dd" class="easyui-panel" title="考核权重&价格配置" data-options="collapsible:true,iconCls:'icon-search'" style="padding: 8px">
				<table width="100%" border="0" cellpadding="5" cellspacing="1">
					<tr>
					   
						<td>
							&nbsp;&nbsp;&nbsp;
							<a href="javascript:addAllitemConf()" class="easyui-linkbutton" iconCls="icon-search">添加综合品项</a>&nbsp;
							<a href="javascript:del()" class="easyui-linkbutton" iconCls="icon-reload">删除综合品项</a>
							<a href="javascript:excelDownload()" class="easyui-linkbutton" iconCls="icon-search">下载</a>&nbsp;
							<a href="javascript:save()" class="easyui-linkbutton" iconCls="icon-reload">保存</a>
						</td>
						</tr>
				</table>
			</div>
		
			<div border="false" style="height:25px;"></div>
		
			
			<table id="myTab" width="98%">
			</table>
		</form>
		
	 <div id="dlg" class="easyui-dialog" style="width:400px;height:120px;padding:10px 20px"
		closed="true" buttons="#dlg-buttons">
	<div class="ftitle"></div>
	<form id="fm" method="post">
		<div class="fitem">
			<label>综合品项名称:</label>
			<input name="allitemName" class="easyui-validatebox" required="true">
		</div>

		
	</form>
</div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="submitAllitemConf()">提交</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
		
		##<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
		##<div id="maintWindow"/>
	</body>
	<script type="text/javascript" src="$!{env.imgUrl}/js/platform/supercheck/toAllItemConf.js?a=23"></script>
</html>